<div class="card my-5">
  <div class="card-body background">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Thermowell Temperature Sensor: </th>
        <th scope="col">Room Temperature Sensor: </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ sensors.thermowellTemperatureReadings }}</td>
        <td>{{ sensors.roomTemperatureReadings }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
