<div class="card my-5">
  <p id="table_title">Carbonation Calculator</p>

  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <tr class="form-group">
        <td for="name">Beer temperature:</td>
        <td></td>
        <td><input type="text" [(ngModel)]="beer_temp" class="form-control" name="beer_temp"
            placeholder="Enter beer temperature" required #name="ngModel"></td>
      </tr>
      <tr class="form-group">
        <td for="desired_carbonation">Desired beer carbonation:</td>
        <td></td>
        <td>
          <input type="text" [(ngModel)]="desired_carbonation" class="form-control" name="desired_carbonation"
            placeholder="Desired beer carbonation" required #email="ngModel">
        </td>
      </tr>

      <tr class="form-group">
        <td>
          <button type="submit" class="btn btn-info">Submit</button>
        </td>
        <td for="req_press">Required pressure:</td>

        <td id="table_height" type="text" class="form-control">{{ pressure.requiredPressureInBars }}</td>
      </tr>
    </form>
  </div>
</div>