<div class="container background">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
          </ul>
        </div>
      </div>
      <div class="card my-5">
          <div [routerLink]="['/readingsRoute']"><app-readings></app-readings></div>      


          <p id="table_title">Carbonation Calculator</p>
          <table class="table table-bordered table-striped">
          <tr>
            <th>Beer temperature:</th>
            <td><input #beerTempInput type="text" name="beer_temp"></td>
          </tr>
          <tr>
            <th>Desired carbonation:</th>
            <td><input type="text" name="desired_carbonation"></td>
          </tr>
          <tr>
            <th>Required pressure in bar <button class="calculate_button">Calculate!</button></th>
            <td class="calculated_pressure"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
